
.icon-down:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
